::-webkit-input-placeholder { color:#97a8be; }
::-moz-placeholder          { color:#97a8be; }
:-moz-placeholder           { color:#97a8be; }
:-ms-input-placeholder      { color:#97a8be; }

.reactParts__input-wrap {
  text-align: left;
  position: relative;
  display: block;
  vertical-align: baseline;
  font-size: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  &.prefix {
    display: flex;
  }
}

.rp-input{
	&--small{
		height: 30px !important;
		font-size: 13px !important;
		line-height: 1;
	}

	&--mini{
		height: 22px !important;
		font-size: 12px !important;
		line-height: 1;
	}
}



.reactParts__input {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #1b2733;
  margin: 0;
  width: 100%;
  display: block;
  outline: none;
  padding: 2px 18px 2px 8px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #E6E8EB;
  border-radius: 2px;
  position: relative;
  &.valid:before {
    content: "*";
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &.cancel {
    padding: 7px 28px 8px 8px;
  }

  &.prefix {
    border-radius: 0 2px 2px 0;
  }

}

.reactParts__input::placeholder {
  font-size: 0.9rem;
}

.reactParts__input:focus {
  border-color: $input-border-color-focus;
}

.reactParts__input:disabled {
  border-color: transparent;
  padding: 8px 18px 8px 0;

}

.reactParts__input:disabled::placeholder {
  color: transparent;
}

.reactParts__input-valid {
  position: absolute;
  right: 6px;
  bottom: 22px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: green;
}

.reactParts__input-valid.false {
  background: red;
}

.reactParts__input-suggest-list {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 195px;
  margin-top: -2px;
  list-style: none;
  background: #fff;
  border-top: 1px solid $control-gray;
  border-bottom: 1px solid $input-border-color-focus;
  border-left: 1px solid $input-border-color-focus;
  border-right: 1px solid $input-border-color-focus;
  //border-bottom: 1px solid $control-gray;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.reactParts__input-addControls {
  position: absolute;
  top: 0;
  right: 0;
  color: #377df3;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  &-item {
    //padding: 1px 7px 2px;
    //border-radius: 10px;
    //background: #62a8ea;
    margin-left: 10px;
    cursor: pointer;
    //&:hover{
    //  color: #fff;
    //}
  }
}

.reactParts__input-suggest-list-system-item {
  font-size: 0.813rem;
  background: #d2d6db;
  padding: 5px 8px;
}

.reactParts__input-suggest-list-item {
  font-size: 0.813rem;
  padding: 8px 8px;
  cursor: pointer;
  overflow-wrap: break-word;
  border-bottom: 1px solid #e6e8eb;
  &:hover {
    background: #e6e8eb;
  }

  &:last-child {
    border-bottom: none;
  }
  &.empty {
    text-align: center;
    cursor: auto;
    &:hover {
      background: none;
    }
  }
  &.selected {
    background: #62a8ea;
    color: #fff;
    height: 100%;
  }
}

.reactParts__input__cancel {
  position: absolute;
  right: 9px;

  bottom: 9px;

  fill: #B3C3C7;
}

.reactParts__input-prefix {
  font-weight: 300;
  border: 1px solid #E6E8EB;
  border-right: none;
  border-radius: 2px 0 0 2px;
  padding: 6px;
  color: #97a8be;
  background-color: #fbfdff;
}

.readOnly{
	height: 36px;
	font-size: 14px;
	padding: 4px 0;

	&--small{
		height: 30px !important;
		font-size: 13px !important;
		line-height: 1;
	}

	&--mini{
		height: 22px !important;
		font-size: 12px !important;
		line-height: 1;
	}
}