.rp-badge{
  top: -10px;
  height: 20px;
  border-radius: 10px;
  min-width: 20px;
  max-width: 40px;
  background: #f04134;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 0 6px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 0 0 1px #fff;

  &--is-dot{
    min-width: 8px;
    min-height: 8px;
    width: 8px;
    height: 8px;
    padding: 0;
    right: 0;
    border-radius: 50%;
    display: inline-block;
  }

  &--is-fixed{
    top: 0;
    right: 5px;
    position: absolute;
    transform: translateY(-50%) translateX(100%)
  }
}