/* Brand Mixin */
@mixin btn($bg, $border-color, $color){
	border-color: $border-color;
	background: $bg;
	color: $color;

	&:hover{
		background: lighten($bg, 5%);
		border-color: lighten($border-color, 5%);
	}

	&:focus{
		background: lighten($bg, 7%);
		border-color: darken($border-color, 7%);
	}

	&:active{
		background: darken($bg, 5%);
		border-color: darken($border-color, 5%);
	}
}

$btn-padding:				10px 15px !default;
$btn-font-size:				14px;
$btn-border-radius:			2px;

.rp-btn{
	border-radius: $btn-border-radius;
	border: 1px solid transparent;
	background: $brand-default;
	padding: $btn-padding;
	outline: none;
	cursor: pointer;
	line-height: 1;

	font-size: $btn-font-size;
	white-space: nowrap;
	color: $gray;


	// Brand

	&--primary{
		@include btn($brand-primary, $brand-primary, #fff);
	}

	&--success{
		@include btn($brand-success, $brand-success, #fff);
	}

	&--danger{
		@include btn($brand-danger, $brand-danger, #fff);
	}

	&--warning{
		@include btn($brand-warning, $brand-warning, #fff);
	}

	&--ight{
		@include btn(#fff, $control-gray, $control-label);
	}

	&--dark {
		@include btn($brand-dark, $brand-dark, #fff);
	}

  	// Size

	&--large{
		padding: 11px 19px;
		font-size: 16px;
	}

	&--small{
		padding: 7px 9px;
		font-size: 12px;
	}

	&--mini{
		padding: 4px;
		font-size: 12px;
	}

	&[disabled]{
		background-color: #f3f7f9;
		border-color: #f3f7f9;
		color: #a3afb7;

		&:hover{
			background-color: #f3f7f9;
			border-color: #f3f7f9;
			color: #a3afb7;
		}

		&:active{
			background-color: #f3f7f9;
			border-color: #f3f7f9;
			color: #a3afb7;
		}
	}
}

@media screen and (max-width: 1024px) {
	.btn{
		padding: 5px 10px;
	}
}

// Custom (deprecated)

.btn-icon{
	svg{ margin-bottom: -8px; }
}

.btn-new-blue{
	background-color: #3279F7;
	color: #fff;
}

.btn-intab{
	padding-top: 10px;
}
