.reactParts__radio-group-wrap{
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

.reactParts__radio-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.vertical{
    flex-direction: column;
  }
}