.reactParts__checkbox-group-wrap{
  margin: 10px 0;
  text-align: left;
}

.reactParts__checkbox-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &.vertical{
    flex-direction: column;
  }
}