.reactParts__checkbox-group-wrap{
  margin: 10px 0;
  text-align: left;
  width: 100%;
  &.button{
    .reactParts__checkbox-group{
      label{
        margin-right: 0;
        margin-bottom: 0;
        border-radius: 0;
        border-right: 0;
      }
      label:first-child{
        border-radius: 2px 0 0 2px;

      }
      label:last-child{
        border-radius: 0 2px 2px 0;
        border-right: 1px solid #e6e8eb;
      }
    }
  }
  &.vertical{
    .reactParts__checkbox-group{
      flex-direction: column;
    }
  }

}

.reactParts__checkbox-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}