.rp-select{
  min-height: 36px !important;

  &--small{
    min-height: 30px !important;
    padding: 4px 54px 4px 8px !important;
  }

  &--mini{
    min-height: 22px !important;
    padding: 1px 54px 2px 8px !important;
  }
}

.rp-select-async{
  min-height: 36px !important;

  &--small{
    min-height: 30px !important;
    padding: 5px 54px 6px 8px !important;
  }

  &--mini{
    min-height: 22px !important;
    padding: 1px 54px 2px 8px !important;
  }
}

.reactParts__select-wrap{
  text-align: left;
  position: relative;
  display: block;
  vertical-align: baseline;
  font-size: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
}

.reactParts__select{
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #1b2733;
  margin: 0;
  width: 100%;
  display: block;
  outline: none;
  padding: 8px 54px 9px 8px;
  box-sizing: border-box;
  border: 1px solid #E6E8EB;
  border-radius: 2px;
  position: relative;
  min-height: 22px;
  &.focus{
    border-color: $input-border-color-focus;
  }

  &.disabled{
    text-align: left;
    padding: 8px 0 8px 0;
    border-color: transparent;
    svg{
      display: none;
    }
  }
}





.reactParts__select-placeholder{
  color: $control-gray-light;
}



.reactParts__select-box-item{
  display: inline-block;
  background: $control-background;
  border: 1px solid $control-gray;
  border-radius: 3px;
  font-size: 0.750rem;

  //margin: 2px 24px 2px 2px;
  margin-right: 5px;
  margin-bottom: 2px;
  padding: 4px;

  div {
    display: inline-block;
  }

  &-remove{
    margin-left: 5px;
    margin-bottom: -4px;
    fill: $control-text;
    cursor: pointer;
  }
}


.reactParts__select__cancel{
  position: absolute;
  right: 28px;
  transform: translateY(-50%);
  bottom: 50%;
  top: 50%;
  fill: #B3C3C7;
}

.reactParts__select__arrow{
  position: absolute;
  right: 4px;
  transform: translateY(-50%);
  bottom: 50%;
  top: 50%;
  fill: #B3C3C7;
}

.reactParts__select-list{
  position: absolute;
  width: 100%;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 195px; /* 5 items */
  margin-top: 5px;
  list-style: none;
  background: #fff;
  border-top: 1px solid $control-gray;
  border-bottom: 1px solid $control-gray;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.reactParts__select-list-item{
  font-size: 0.813rem;
  padding: 8px 8px;
  cursor: pointer;
  overflow-wrap: break-word;
  border-left: 1px solid #e6e8eb;
  border-right: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
  &:hover{
    background: #e6e8eb;
  }

  &:last-child{
    border-bottom: none;
  }
  &.empty{
    text-align: center;
    cursor: auto;
    &:hover{
      background: none;
    }
  }

  &.selected{
    border-color: #62a8ea;
    border-top-color: #e6e8eb;
    background: #62a8ea;
    color: #fff;
    height: 100%;
  }

  &.pointed{
    height: 100%;
    background: #c9e0eb;
    &.selected{
      background: #6097d7;
      height: 100%;
    }

  }
}

.reactParts__select-input{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #1b2733;
  background: transparent;
  outline: none;
  border: none;
  padding-left: 8px;
  line-height: 1;
  width: 100%;
  padding-right: 54px;
}

.reactParts__select-addControls{
  position: absolute;
  top: 0;
  right: 0;
  color:#377df3;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  &-item{
    margin-left: 10px;
    cursor: pointer;
  }
}

.reactParts__select-selected-span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}