.reactParts__checkbox-wrap{
  align-items: center;
  display: flex;
  margin-top:6px;
  margin-right: 10px;
  margin-bottom: 6px;
  position: relative;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: 0.3px;

  &.checked{
    .reactParts__checkbox-input-new {
      background-color: #e4f2fc;
      border: solid 1px #a6d3f4;
      &:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        border-left: 2px solid #377df3;
        border-bottom: 2px solid #377df3;
        transform: rotate(-45deg);

        left: 5px;
        top: 5px;
        //transform: translate(-50%, -50%);
        color: #377df3;
      }
    }
  }

  &.disabled{
    cursor: not-allowed;
    .reactParts__checkbox-input-new{
      cursor: not-allowed;
    }
    .reactParts__checkbox-label {
      color: gray;
    }
  }

  &.disabled.checked{
    .reactParts__checkbox-input-new {
      background-color: #e6e8eb;
      border: 1px solid #e6e8eb;
      &:after{
        border-left: 2px solid gray;
        border-bottom: 2px solid gray;
      }

    }
  }



  &.button.checked{
    border: solid 1px #e6e8eb;
    border-left: 1px solid #e6e8eb;
    background-color: #377df3;
    //box-shadow: inset 0 1px 5px rgba(0,0,0,.125);
    .reactParts__checkbox-label{
      color: #fff;
    }
  }
  &.button.checked.disabled{

    border: solid 1px #e6e8eb;
    background-color: #377df3;
    opacity: 0.6;
    .reactParts__checkbox-label {
      color: #fff;
      opacity: 0.8;
    }

  }

  &.button.disabled{
    cursor: not-allowed;
    border: solid 1px #e6e8eb;
    background-color: #fff;
    .reactParts__checkbox-label{
      opacity: 0.5;
    }
  }

  &.button {

    border-radius: 2px;
    padding: 7px 10px 8px 10px;
    font-size: 14px;

    background-color: #fff;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    border: 1px solid #e6e8eb;



    display: inline-block;
    .reactParts__checkbox-input-new{
      opacity: 0;

      position: absolute;
    }
    .reactParts__checkbox-label{
      margin:0;
      color: #212121;
    }


  }


}




.reactParts__checkbox-input-new{
  background-color: #fff;
  border: solid 1px #e6e8eb;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;


  .reactParts__checkbox-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    opacity: 0;
    width: 0;
    height: 0;
  }


}
.reactParts__checkbox-label{
  margin-left: 10px;

}