.reactParts__transfer--wrap{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.horizontal {
  height: 300px;
  flex-direction: row;
}

.vertical {
  width: 100%;
  height: 550px;
  flex-direction: column;
}

.reactParts__transfer--header{
  border-bottom: 1px solid rgb(217, 217, 217);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reactParts__transfer--box{
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.reactParts__transfer--box-horizontal {
  width: 45%;
}

.reactParts__transfer--box-vertical {
  width: 100%;
  height: 250px;
}

.reactParts__transfer--list {
  overflow: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.reactParts__transfer--list-horizontal {
  height: 250px;
}

.reactParts__transfer--list-vertical {
  height: 200px;
}

.reactParts__transfer--middle-box{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reactParts__transfer--middle-box-horizontal {
  flex-direction: column;
}

.reactParts__transfer--middle-box-vertical {
  flex-direction: row;
}

.reactParts__transfer--middle-box-button{
  margin: 5px;
}