ul, menu, dir {
  padding:0;
  margin: 0;
}



// Variables
// Colors

$gray-dark:                 #526069 !default;
$gray:						#74848d !default;
$gray-light:				#e9eaeb !default;
$gray-superlight: 			#dfe1e0 !default;
$gray-muted: 				#fafafa !default;
$white: 				    #ffffff !default;

$color-invert: 				#ffffff !default;

$brand-success:				#42bf89 !default;
$brand-danger:              #f96868 !default;
$brand-warning:             #f2a654 !default;
$brand-primary:             #62a8ea !default;
$brand-default:             #e4eaec !default;
$brand-dark:                #263238 !default;
$brand-light:               #e4eaec !default;

$brand-success-light:		#52cf99 !default;

$body-bg:                   #f1f4f5 !default;
$body-color:                #2A2A2A !default;

$text-muted:              	#A5AFB5 !default;

$color-message-my: 			#e9f2fb !default;
$color-message: 			#f8f8f8 !default;

$table-tr-active:			#e9f2fb !default;

$control-background-disabled:#eaeae0;
$control-background: 		#F4F8F9;
$control-text: 				#878f92;
$control-label: 			#526069;
$control-gray-light:		#B3C3C7;
$control-gray:				#e6e8eb;
$control-gray-juicy:  		#ccc;


// Links

$link-color:				$brand-primary !default;
$link-hover-color:     		darken($link-color, 15%) !default;
$link-hover-decoration:		underline !default;

// Typography

$font-family-sans-serif:    'Lato', sans-serif !default;
//$font-family-sans-serif:    'Open Sans', sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-root:            16px !default;
$font-size-base:            0.875em !default;

$font-size-h1:				1.438rem !default;
$font-size-h2:				1.250rem !default;
$font-size-h3:				1.125rem !default;
$font-size-h4: 				0.875rem !default;
$font-size-h5: 				1rem !default;

$font-size-small:			0.688rem !default;

$headers-color:				$gray-dark;

$font-weight-strong:		600 !default;
$font-weight-base:			400 !default;
$font-weight-light:			300 !default;

$line-height:               1.125rem !default;


// Grid



$grid-breakpoints: 			( xs: 0, sm: 34em, md: 48em, lg: 62em, xl: 75em) !default;
$grid-columns: 				12;
$grid-column-padding:		10px;


// Components
//- Header
$header-height:				60px !default;
$header-background:			#fff !default;
$header-size:				1rem;

//- Sidebar
$sidebar-width:				60px !default;
$sideber-background:		#212c32 !default;
$sidebar-padding:			0px !default;

//- Content
$content-padding:			0px 0px !default;

//- FileStorage
$filestorage-width: 		380px !default;
$filestorage-background:	#fff !default;


// Controls
//- Panel
$panel-header-padding:		0px 0px 20px !default;
$panel-body-padding:		10px 10px 10px 10px !default;
$panel-body-min-height:		150px !default;
$panel-border-radius:		3px !default;
$panel-background:			#fff !default;

//- Tabs
$panel-tabs-border:			1px solid $gray-light !default;
$panel-tabs-active-color:	$brand-primary !default;
$panel-tabs-padding:		14px 20px !default;



//- Modal Window
$modal-background: 			rgba(38, 50, 56, 0.7);

//- Icon
$icon-fill:					$gray-dark;
$icon-hover-fill:			$brand-primary;

//- Tooltip
$tooltip-position: 			relative !default;
$tooltip-background:		#424242;
$tooltip-color:				#fff;
$tooltip-size:				0.688rem;

//- ImageHint
$imagehint-background:		rgba(38, 50, 56, 0.7);

//- DataTable
$table-border-color: #d7e2e5;
$data-table-background: #F6F8F9;

//- Forms
//-- Input
$input-font-size:			0.875rem;
$input-border-color:		$brand-default;
$input-border-color-focus: 	$brand-primary;



.reactParts__label {
  height: 18px;
  color: #637282;
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  letter-spacing: 0.3px;
  text-align: left;
  &.required{
    &:after{
      content: " *";
      color: red;
    }
  }
}










@import "Components/Button/Button";
@import "Components/Select/Select";
@import "Components/MultiSelect/MultiSelect";
@import "Components/Input/Input";
@import "Components/Radio/Radio";
@import "Components/RadioGroup/RadioGroup";
@import "Components/CheckBox/CheckBox";
@import "Components/CheckBoxGroup/CheckBoxGroup";
@import "Components/Tree/Tree";
@import "Components/Transfer/Transfer";
@import "Components/Badge/Badge";

