ul, menu, dir {
  padding:0;
  margin: 0;
}



// Variables
// Colors

$gray-dark:                 #526069 !default;
$gray:						#74848d !default;
$gray-light:				#e9eaeb !default;
$gray-superlight: 			#dfe1e0 !default;
$gray-muted: 				#fafafa !default;
$white: 				    #ffffff !default;

$color-invert: 				#ffffff !default;

$brand-success:				#42bf89 !default;
$brand-danger:              #f96868 !default;
$brand-warning:             #f2a654 !default;
$brand-primary:             #62a8ea !default;
$brand-default:             #e4eaec !default;
$brand-dark:                #263238 !default;
$brand-light:               #e4eaec !default;

$brand-success-light:		#52cf99 !default;

$body-bg:                   #f1f4f5 !default;
$body-color:                #2A2A2A !default;

$text-muted:              	#A5AFB5 !default;

$color-message-my: 			#e9f2fb !default;
$color-message: 			#f8f8f8 !default;

$table-tr-active:			#e9f2fb !default;

$control-background-disabled:#eaeae0;
$control-background: 		#F4F8F9;
$control-text: 				#878f92;
$control-label: 			#526069;
$control-gray-light:		#B3C3C7;
$control-gray:				#e6e8eb;
$control-gray-juicy:  		#ccc;


// Links

$link-color:				$brand-primary !default;
$link-hover-color:     		darken($link-color, 15%) !default;
$link-hover-decoration:		underline !default;

// Typography

$font-family-sans-serif:    'Lato', sans-serif !default;
//$font-family-sans-serif:    'Open Sans', sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-root:            16px !default;
$font-size-base:            0.875em !default;

$font-size-h1:				1.438rem !default;
$font-size-h2:				1.250rem !default;
$font-size-h3:				1.125rem !default;
$font-size-h4: 				0.875rem !default;
$font-size-h5: 				1rem !default;

$font-size-small:			0.688rem !default;

$headers-color:				$gray-dark;

$font-weight-strong:		600 !default;
$font-weight-base:			400 !default;
$font-weight-light:			300 !default;

$line-height:               1.125rem !default;


// Grid



$grid-breakpoints: 			( xs: 0, sm: 34em, md: 48em, lg: 62em, xl: 75em) !default;
$grid-columns: 				12;
$grid-column-padding:		10px;


// Components
//- Header
$header-height:				60px !default;
$header-background:			#fff !default;
$header-size:				1rem;

//- Sidebar
$sidebar-width:				60px !default;
$sideber-background:		#212c32 !default;
$sidebar-padding:			0px !default;

//- Content
$content-padding:			0px 0px !default;

//- FileStorage
$filestorage-width: 		380px !default;
$filestorage-background:	#fff !default;


// Controls
//- Panel
$panel-header-padding:		0px 0px 20px !default;
$panel-body-padding:		10px 10px 10px 10px !default;
$panel-body-min-height:		150px !default;
$panel-border-radius:		3px !default;
$panel-background:			#fff !default;

//- Tabs
$panel-tabs-border:			1px solid $gray-light !default;
$panel-tabs-active-color:	$brand-primary !default;
$panel-tabs-padding:		14px 20px !default;



//- Modal Window
$modal-background: 			rgba(38, 50, 56, 0.7);

//- Icon
$icon-fill:					$gray-dark;
$icon-hover-fill:			$brand-primary;

//- Tooltip
$tooltip-position: 			relative !default;
$tooltip-background:		#424242;
$tooltip-color:				#fff;
$tooltip-size:				0.688rem;

//- ImageHint
$imagehint-background:		rgba(38, 50, 56, 0.7);

//- DataTable
$table-border-color: #d7e2e5;
$data-table-background: #F6F8F9;

//- Forms
//-- Input
$input-font-size:			0.875rem;
$input-border-color:		$brand-default;
$input-border-color-focus: 	$brand-primary;



.control{
  position: relative;
  display: block;

  margin: 10px 0;

  /* controls placeholder and disabled */
  &-input{
    &::-webkit-input-placeholder {color: $control-gray-light;}
    &::-moz-placeholder          {color: $control-gray-light;}
    &:-moz-placeholder           {color: $control-gray-light;}
    &:-ms-input-placeholder      {color: $control-gray-light;}
    &::selection                 {background: #fff2a8;};
    &::-moz-selection            {background: #fff2a8;};
  }

  &-input {
    &-wrap {
      position: relative;
    }

    &-free-counter {
      position: absolute;
      right: 0.25rem;
      bottom: -0.7rem;
      font-size: 0.544rem;
      color: $control-gray-light;
    }
  }

  &-input,
  &-select{
    &[disabled],
    &[disabled=disabled]{
      color: $control-gray-light;
      cursor: not-allowed;
    }
  }

  /* control-radio, control-radio-group and control-checkbox  */
  &-radio,
  &-checkbox{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;

    width: 18px;
    height: 18px;

    &:after,
    &:before{
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 18px;
      height: 18px;
    }
  }

  /* control-radio */
  &-radio{
    &:before{
      border-radius: 50%;
      border: 1px solid $control-gray;
      background: #fff;
    }

    &:after{
      display: none;

      left: 4px; top: 4px;

      border-radius: 50%;
      background: $brand-success;
      width: 10px;
      height: 10px;
    }

    &:checked{
      &:before{
        border-color: $brand-success;
      }
      &:after{
        display: block;
      }
    }

    &[disabled],
    &[disabled=disabled]{
      &:before{
        background: $control-background;
      }
      &:checked{
        &:before{
          border: 1px solid $control-gray;
          background: #fff;
        }
        &:after{
          background: $control-gray;
        }
      }
      cursor: not-allowed;
    }
  }

  /* control-checkbox */
  &-checkbox{
    &:before{
      border-radius: 3px;
      border: 1px solid $control-gray;
      background: #fff;
    }

    &:after{
      content: url('data:image/svg+xml; utf8, <svg fill="#fff" height="22" viewBox="0 3 24 24" width="22" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>');
      display: none;
    }

    &:checked{
      &:before{
        background: $brand-success;
        border-color: $brand-success;
      }
      &:after{
        display: block;
      }
    }

    &[disabled],
    &[disabled=disabled]{
      &:before{
        background: $control-background;
      }
      &:checked:before{
        border: 1px solid $control-gray;
        background: $control-gray;
      }
      cursor: not-allowed;
    }
  }

  /* control-upload */

  &-upload{
    position: relative;
    font-size: 0.875rem;
    line-height: 23px;
    padding: 10px 95px 10px 15px;
    min-height: 45px;
    font-weight: 400;


    border: 1px solid $control-gray;
    border-radius: 3px;

    &__body{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__hint{
      color: $control-gray-light;
    }

    &__btn{
      position: absolute;
      right: 15px; top: 50%;
      margin-top: -12px;
    }

    &__form{
      display: none;
    }
  }

  /* control-input */
  &-input{
    padding: 8px 15px 7px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #1b2733;
    width: 100%;
    outline: none;
    border-radius: 2px;
    &--small {
      padding: 3px 1px;
    }
    &:active{
      border: 1px solid $input-border-color-focus;
    }
    &:focus{
      border: 1px solid $input-border-color-focus;
    }
  }

  &-input[data-state=fade]      { border: 1px solid $control-gray;}
  &-input[data-state=valid]     { border: 1px solid $brand-success;}
  &-input[data-state=active]    { border: 1px solid $input-border-color-focus;}
  &-input[data-state=not-valid] { border: 1px solid $brand-danger;}


  /* control-smscode */
  &-smscode{
    position: relative;

    &__send{
      position: absolute;
      right: 10px; top: 30px;
      padding: 5px 10px;
    }

    &__input{
      padding-right: 95px;
    }
  }

  /* control-smscode */
  &-password{
    position: relative;

    &__toggle{
      position: absolute;
      right: 10px; top: 30px;
      fill: $control-gray-light;
    }

    &__input{
      padding-right: 46px;
    }
  }

  /* control-form-group */
  &-form-group{
    padding: 5px 0;
    width: 100%;

    &__header{
      display: block;
      position: relative;
      font-family: $font-family-sans-serif;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #637282;
      margin-bottom: 6px;
    }

    &__label{
    }

    &__action-link{
      float: right;
      margin-left: 20px;
      cursor: pointer;
      font-family: $font-family-sans-serif;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: right;
      color: #377df3;
    }

    &__hiddenHint{
      position: absolute;
      right: 0;
      top: 0;
    }

    &__state{
      display: inline-block;
      width: 6px; height: 6px;
      border-radius: 50%;
      margin-left: 5px;
      position: absolute;
      &--required{ background: $brand-danger; }
      &--valid{ background: $brand-success; }
    }

    &__hint{
      color: $control-gray-light;
      font-size: 0.750rem;
      margin-top: 5px;

      &--link{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  /* control-select */
  &-select{
    position: relative;

    &--static {
      width: 120px;
      margin-left: 10px;
    }

    &-box{
      &--not-valid{border: 1px solid $brand-danger}
      &--valid    {border: 1px solid $brand-success}

      position: relative;
      border: 1px solid $control-gray;
      padding: 7px 30px 7px 8px;
      border-radius: 2px;
      font-weight: 400;
      cursor: pointer;
      display: block;
      color: $body-color;
      //height: 28px;
      &:hover{
        color: $body-color;
      }

      &--disabled {
        color: $control-gray-light;
        cursor: not-allowed;
        background: $control-background-disabled;

        * {
          cursor: not-allowed !important;
        }

        &:hover{
          color: $control-gray-light;
        }
      }

      &__item{
        display: inline-block;
        //padding: 2px 5px;
        background: $control-background;
        border: 1px solid $control-gray;
        border-radius: 3px;

        font-size: 0.750rem;
        //margin-left: 3px;
        //margin-right: 3px;

        margin: 2px 24px 2px 2px;
        padding: 2px;

        div {
          display: inline-block;
        }

        &-remove{
          margin-left: 5px;
          margin-bottom: -4px;
          fill: $control-text;
          cursor: pointer;
        }
      }


      &__arrow,
      &__cancel{
        position: absolute;
        top: 50%;
        fill: $control-gray-light;
        right: 3px;
      }

      &__arrow{
        //right: 8px;
        margin-top: -11px;
      }

      &__cancel{
        right: 26px;
        margin-top: -9px;
      }

      &__selected{
        //padding: 8px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //display: inline-block;
        width: 100%;
      }

      &__placeholder{
        color: $control-gray-light;
        padding: 8px 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__input{
        display: inline-block;
        padding: 0 0 0 2px;
        //margin: 5px;
        width: 100%;

        //display: inline-block;
        //margin-left: 8px;
        //margin-top: 3px;
        &-field{
          color: $control-gray-light;
          outline: 0 solid white;
          border: 0 solid white;
          font-size: 0.875rem;
          overflow: hidden;
          background: transparent;
          width: 100%;
          text-overflow: ellipsis;
          cursor: pointer;
          text-align: left;
        }

        &--disabled{
          color: #B3C3C7;
          cursor: not-allowed;
          background: rgba(234,234,224,1);
        }
      }
    }

    &--open &-box,
    &-box:focus{
      border-color: $input-border-color-focus;
    }

    &--small {
      .control-select-box {
        &__input, &__selected {
          padding: 2px 1px;
          margin: inherit;
        }
      }
    }

    &--with-cancel &-box{
      //padding: 2px 50px 1px 10px;
    }
  }

  /* control-dropdown */
  &-dropdown{
    position: absolute;
    width: 100%;
    z-index: 10;

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 195px; /* 5 items */
    margin-top: 5px;
    list-style: none;
    background: #fff;
    border-top: 1px solid $control-gray;
    border-bottom: 1px solid $control-gray;
    border-radius: 3px;

    &__item{
      cursor: pointer;
      overflow-wrap: break-word;
      padding: 10px 10px;
      border-left: 1px solid $control-gray;
      border-right: 1px solid $control-gray;

      &:not(:first-child){ border-top: 1px solid $control-gray; }

      &:hover{
        background: $control-background;
      }

      &-success{
        background: $brand-success;
        &:hover{
          background: #35996E;
        }
      }

      &-failure{
        background: $brand-danger;
        &:hover{
          background: #C75353;
        }
      }

      &--selected{
        border-color: $brand-success;
        border-top-color: $control-gray;
        background: $brand-success;
        color: #fff;
      }

      &--selected:hover,
      &--pre_select_selected{
        border-color: $brand-success-light;
        border-top-color: $control-gray;
        background: $brand-success-light;
        color: #fff;
      }

      &--pre_select{
        background: $control-background;
      }

      &--empty{
        padding: 15px 15px;
        color: $control-gray-light;
        text-align: center;
        cursor: default;

        &:hover{ background: transparent; }
      }
    }
  }

  &-phone{
    position: relative;

    &-box{
      position: relative;
      border: 1px solid $control-gray;
      padding: 2px 50px 3px 10px;
      border-radius: 3px;
      font-weight: 400;
      cursor: pointer;

      &__item{
        display: inline-block;
        padding: 2px 5px;
        background: $control-background;
        border: 1px solid $control-gray;
        border-radius: 3px;

        font-size: 0.750rem;
        margin: 5px;

        &-remove{
          margin-left: 5px;
          margin-bottom: -4px;
          fill: $control-text;
          cursor: pointer;
        }

      }

      &__arrow,
      &__region{
        position: absolute;
        top: 48%;
        fill: $control-gray-light;
      }

      &__arrow{
        left: 24px;
        margin-top: -11px;
      }

      &__region{
        left: 8px;
        margin-top: -8px;
      }

      &__selected{
        padding: 8px 5px;
      }

      &__input{
        color: $control-text;
        padding: 8px 5px 8px 40px;
        width: 100%;
        outline: 0 solid white;
        border: 0 solid white;
      }
    }

    &--open &-box{
      border-color: $input-border-color-focus;
    }
  }

  &-phone-box{
    &__input{
      background: #fff;
    }
  }
}

@media screen and (max-width: 1024px) {
  .control {
    &-input{
      font-size: 0.813rem;
      padding: 5px;
    }

    &-select{
      &-box {
        font-size: 0.813rem;
        padding: 2px 50px 2px 10px;

        &__selected,
        &__placeholder{
          padding: 2px 1px;
        }

        &__item{
          margin: 1px;
          padding: 0 2px;
          font-size: 0.688rem;
        }
      }
    }

    &-dropdown{
      &__item{
        font-size: 0.813rem;
        padding: 4px 8px;
      }
    }

    &-form-group{

      &__action-link{
        font-size: 0.750rem;
      }

      &__hint{
        margin-top: 1px;
        font-size: 0.688rem;
      }
    }
  }
}












@import "Styles/flexboxgrid";
@import "Components/Button/Button";
@import "Components/Select/Select";
@import "Components/MultiSelect/MultiSelect";
@import "Components/Input/Input";

