.reactParts__tree--node {
  position: relative;

  &.checkable{
    .reactParts__checkbox-wrap{
      margin-bottom: 4px;
      margin-right: 4px;
      margin-top: 0;
      &.checked{
        .reactParts__checkbox-input-new:after {
          width: 8px;
          height: 4px;
        }
      }
      .reactParts__checkbox-input-new{
        width:18px;
        height: 18px;
      }
      .reactParts__checkbox-label{
        display: none;
      }

    }

  }

}

.reactParts__tree--arrow {
  transform: rotate(-90deg);
  cursor: pointer;
  &.expanded {
    transform: rotate(0);
  }
}

.reactParts__tree--title-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.reactParts__tree--title {
  max-width: 100px;
  font-weight: 400;
  padding: 0 6px 1px;
  cursor: default;
  //margin: 0 0 4px;
  border-radius: 3px;
  &:hover {
    background-color: #ecf6fd;
  }
  &.selected {
    background-color: #d2eafb;

  }
  &.contain-selected{
    border: 1px dashed black;
  }

  &.unselectable {
    &:hover {
      background-color: transparent;
    }
  }
}

.tree-no-children {
  padding-left: 24px;
}

.reactParts__tree--children {
  margin-left: 22px;
}

.reactParts__tree--loading{
  margin-left: 22px;
}
.reactParts__tree--node--context-wrapper{
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.reactParts__tree--node--context-menu-item{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  &:hover{
    cursor: default;
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

.reactParts__tree--node--context-menu-item-divider{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}